*{
	margin:0;
	padding: 0;
}
ul{
	list-style-type: none;
}
.box{
	box-shadow:0px 0px 5px 5px #cdcdcd;
	border-radius:4em;
	overflow: hidden;
	margin: 2em 1em;
}
.head{
	background:url(../img/head.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 8em;
}
.back{
	float: left;
	height: 4em;
	width: 2em;
	padding-top: 3em;
	padding-left: 2em;
}
.headphoto img{
	border-radius: 50%;
	height: 6em;
	width: 6em;
	float: left;
	margin-left: 16em;
	margin-top: 1em;
	background-color: purple;
}
.username{
	float: left;
	font-size: 3em;
	padding-top: 0.6em;
	padding-left: 0.6em;
	color: white;
}
.c-foot{
	font-size: 2.4em;
	color: gray;
	padding-left: 1.5em;
	padding-right:1.5em;
	margin-top: 1em;
	padding-bottom: 1em;
}
.c-foot img{
	float: right;
	height: 1em;
	margin: 0.2em 0.5em;
	padding-top: 0.2em;
}
.c-foot span{
	font-size: 0.8em;
}
.info{
	font-size: 2.4em;
	padding: 1em;
	padding-bottom: 0;
}
.info .photos{
	height: 22.5em;
	width: 22.5em;
	padding-top: 1em;
}
.info .photos img{
	float: block;
	height: 7em;
	width: 7em;
	margin: 0.1em;
}
.c-textarea{
	height: 5em;
	margin: 1px 0 0 1em;
	width: 20em;
	font-size: 3em;
	float: left;
}
.pinlun{
	display: none;
	height: 15em;
	width: 100%;
}
.pinlun input{
	font-size: 3em;
	float: left;
	height: 4.1em;
	width: 2em;
}
.comments{
	font-size: 2em;
	padding: 0 1em 1em 1em;
	color: grey;
}
.comments strong{
	margin: 0.1em;
}
.one{

}
.two{
	padding-left: 1em;
}