<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="browsermode" content="application">
<meta name="x5-page-mode" content="app">
<meta name="msapplication-tap-highlight" content="no">
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<head>
    <title id="pageTitle" th:alt="${page._id}">文章详情</title>
    <link rel="stylesheet" type="text/css" th:href="@{/user/detail/css/details.css}">
    <!--<script type="text/javascript" th:src="@{/user/detail/js/jquery-3.3.1.min.js}"></script>-->
    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="https://cdn.bootcss.com/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js"></script>
    <link href="https://cdn.bootcss.com/jquery.swipebox/1.4.4/css/swipebox.min.css" rel="stylesheet">

</head>
<body>
<div id="MainDiv" class="box">
    <ul class="head">
        <a href="javascript:void(0)" onclick="goback()">
            <li class="back"><img th:src="@{/user/detail/img/back.png}" alt=""></li>
        </a>
        <li class="headphoto" th:if="${page.isHidden() == false}"><img th:src="${page.user.imgUrl}"></li>
        <li class="username" th:if="${page.isHidden() == false}" th:alt="${page._id}" th:text="${page.user.name}">用户名
        </li>

        <li class="headphoto" th:if="${page.isHidden() == true}"><img src="/jewel/user/yours/img/anonymous-head.png">
        </li>
        <li class="username" th:if="${page.isHidden() == true}" th:alt="${page._id}">匿名</li>
        <button id="delButton" th:alt="${page._id}" onclick="delPage()"
                th:if="${session.ISADMIN == 'true' || ISCANDEL == 'true'}"
                style="float: right;font-size: 3em;height: 2em;width: 4em;margin-right: 1em;margin-top: 0.3em;background-clip: 0;background-color: rgba(0,0,0,0);border: 0;color: white;">
            删除
        </button>
    </ul>
    <div class="info">
        <p th:text="${page.text}">文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字</p>
        <div class="photos swipeboxEx" th:if="${page.imgUrl!=null && page.imgUrl.size() > 0}">
            <a rel="gallery-1" class="swipebox" th:href="${'/jewel/upload/'+img}" th:each="img:${page.imgUrl}">
                <img th:src="${'/jewel/upload/'+img}" alt="image"/>
            </a>
        </div>
    </div>
    <div class="c-foot">
        <span th:if="${page.talks!=null}" th:text="${page.liked}+'赞'+'  '+${page.talks.size()}+'评论'">785赞&nbsp;·&nbsp;182 评论</span>
        <span th:if="${page.talks==null}" th:text="${page.liked}+'赞'+'  0评论'">785赞&nbsp;·&nbsp;182 评论</span>
        <a href="javascript:void(0)" onclick="Toast('请点击右上角按钮转发！',2000)"><img th:src="@{/user/detail/img/forward.png}"></a>
        <a href="javascript:void(0)" onclick="comment()"><img th:src="@{/user/detail/img/comment.png}"></a>
        <a href="javascript:void(0)" onclick="like()" th:if="${page.userLiked== false}"><img
                th:src="@{/user/detail/img/like.png}"></a>
        <a href="javascript:void(0)" onclick="like()" th:if="${page.userLiked == true}"><img
                th:src="@{/user/detail/img/s-like.png}"></a>
    </div>
    <!--<p th:text="${page}"></p>-->
    <form onsubmit="return false;" class="pinlun">
        <textarea cols="10" rows="20" class="c-textarea"></textarea>
        <input type="submit" name="" value="回复">
    </form>
    <ul class="comments" th:if="${page.talks!=null && page.talks.size()>0}" th:each="talk:${page.talks}">
        <p th:if="${talk.talks!=null}" th:text="${talk.talks}"></p>
        <li class="one" th:alt="${talk._id}" th:if="${talk.talks == null || talk.talks.size() == 0}"><strong
                th:text="${talk.user.name}">用户名1</strong>：<p th:text="${talk.message}">这是一级评论这是一级评论这是一级评论这是一级评论</p></li>
        <!--<li class="one" th:alt="${talk._id}" th:if="${talk.talks!=null && talk.talks.size()>0}"><strong>用户名2</strong>：这是一级评论-->
        <!--<ul class="comments-2" th:each="small:${talk.talks}">-->
        <!--<li class="two" th:alt="${small._id}"><strong th:text="${small.user.name}">用户</strong>回复<strong-->
        <!--th:text="${small.destUser.name}">用户名2</strong>：<p th:text="${small.message}">-->
        <!--这是二级评论这是二级评论这是二级评论这是二级评论</p></li>-->
        <!--</ul>-->
        <!--</li>-->
    </ul>
</div>
<img th:src="@{/user/detail/img/like.png}" style="display: none">
<img th:src="@{/user/detail/img/s-like.png}" style="display: none">
<script type="text/javascript" th:src="@{/user/detail/js/details.js}"></script>
</body>
<script type="text/javascript">
    ;(function ($) {
        $('.swipebox').swipebox();
    })(jQuery);

    function delPage() {
        var pageId = $("#delButton").attr("alt")
        $.ajax({
            url: '/jewel/page/delPage',
            type: 'POST',
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            data: {pageId: pageId},
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                if (data.code == 200) {
                    Toast('删除成功!', 2000)
                    setTimeout("goback()",2000)
                } else {
                    Toast('删除失败!', 2000)
                }
            },
            error: function () {
                Toast('删除失败!', 2000)
            }
        })
    }

    function goback() {
        var host = "http://" + document.domain + "/jewel/";
        document.referrer === '' ? window.location.href = host : window.history.go(-1);
    }
</script>
</html>