<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="browsermode" content="application">
<meta name="x5-page-mode" content="app">
<meta name="msapplication-tap-highlight" content="no">
<head>
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/me/css/me.css}">
    <script type="text/javascript" th:src="@{/me/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/me/js/me.js}"></script>
</head>
<body>
<div class="top">
    <ul class="head">
        <li class="headphoto"><img onclick=" window.location.replace('/jewel/adminlogin')"
                                   th:src="${session.currentUser.imgUrl}" alt=""></li>
        <li class="username" th:text="${session.currentUser.name}">微信名</li>
    </ul>
    <ul class="nav" id="nav">
        <a href="/jewel/me">
            <li class="hearttalk"><!--切换css样式改图片-->
                <span>心里话</span>
            </li>
        </a>
        <a href="/jewel/me_message">
            <li class="messages-s"><!--切换css样式改图片-->
                <span style="color: #0f0f0f;text-decoration: none">消息</span>
            </li>
        </a>
    </ul>
</div>
<div class="foot">
    <ul class="background">
        <li class="you">
            <a href="/jewel/" style="text-decoration: none;color: #0f0f0f">你们</a>
        </li>
        <a href="write" target="_top">
            <li class="release">
                <img th:src="@{user/yours/img/footimg.png}" alt="">
            </li>
        </a>
        <li class="me">
            <a href="/jewel/me_message" style="text-decoration: none;color: #74B0CC">我的</a>
        </li>
    </ul>
</div>
<ul id="mainBody" class="contents">
</ul>
<script>

    var page = 0;
    $(document).ready(function () {
        get()
    });

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight >= (scrollHeight - 100)) {
            console.log("到达了底部..")
            get();
        }
    });

    function openNewWebSite(site) {
        var domain = document.domain;
        domain = "http://" + domain + "/jewel/detail?pageId=" + site;
        console.log(site)
        console.log(domain)
        window.location.href = domain;
    }

    function get() {
        $.ajax({
            url: '/jewel/page/meMessage',
            type: 'get',
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            data: {currentPage: page},
            success: function (data, textStatus, jqXHR) {
                console.log(data)

                $.each(data, function (index, content) {
                    var time = timeago(content.talkTime)
                    var message = content.message.substr(0, 10) + "..."
                    console.log(message)
                    console.log(time)
                    console.log(content)
                    var body = "<li onclick=\"openNewWebSite('" + content.parentPageId + "')\" class='msg'>" +
                        "<p>" + content.user.name + "<strong>评论</strong>了您的文章：" + message + "</p>" +
                        "<span>" + time + "</span>" + "</li>";
                    $("#mainBody").append(body);
                    page = page + 1;
                });
            }

        })
    }


    function timeago(timestamp) {   //dateTimeStamp是一个时间毫秒，注意时间戳是秒的形式，在这个毫秒的基础上除以1000，就是十位数的时间戳。13位数的都是时间毫秒。
        // 补全为13位
        // 补全为13位
        var arrTimestamp = (timestamp + '').split('');
        for (var start = 0; start < 13; start++) {
            if (!arrTimestamp[start]) {
                arrTimestamp[start] = '0';
            }
        }
        timestamp = arrTimestamp.join('') * 1;

        var minute = 1000 * 60;
        var hour = minute * 60;
        var day = hour * 24;
        var halfamonth = day * 15;
        var month = day * 30;
        var now = new Date().getTime();
        var diffValue = now - timestamp;

        // 如果本地时间反而小于变量时间
        if (diffValue < 0) {
            return '不久前';
        }

        // 计算差异时间的量级
        var monthC = diffValue / month;
        var weekC = diffValue / (7 * day);
        var dayC = diffValue / day;
        var hourC = diffValue / hour;
        var minC = diffValue / minute;

        // 数值补0方法
        var zero = function (value) {
            if (value < 10) {
                return '0' + value;
            }
            return value;
        };

        // 使用
        if (monthC > 12) {
            // 超过1年，直接显示年月日
            return (function () {
                var date = new Date(timestamp);
                return date.getFullYear() + '年' + zero(date.getMonth() + 1) + '月' + zero(date.getDate()) + '日';
            })();
        } else if (monthC >= 1) {
            return parseInt(monthC) + "月前";
        } else if (weekC >= 1) {
            return parseInt(weekC) + "周前";
        } else if (dayC >= 1) {
            return parseInt(dayC) + "天前";
        } else if (hourC >= 1) {
            return parseInt(hourC) + "小时前";
        } else if (minC >= 1) {
            return parseInt(minC) + "分钟前";
        }
        return '刚刚';

    }
</script>
</body>
</html>