<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no" />
<!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<!-- 忽略页面中的数字识别为电话号码,email识别 -->
<meta name="format-detection"content="telephone=no, email=no" />
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<head>
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/me/css/me.css}">
    <script type="text/javascript" th:src="@{/me/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/me/js/me.js}"></script>
</head>
<body>
<p th;text="${pages}"></p>
<div class="top">
    <ul class="head">
        <li class="headphoto"><img th:src="${session.currentUser.imgUrl}" alt=""></li>
        <li class="username" th:text="${session.currentUser.name}">微信名</li>
    </ul>
    <ul class="nav" id="nav">
        <a href="/jewel/me">
            <li class="hearttalk-s"><!--切换css样式改图片-->
                <span style="text-decoration: none;color: #0f0f0f">心里话</span>
            </li>
        </a>
        <a href="/jewel/me_message">
            <li class="messages"><!--切换css样式改图片-->
                <span>消息</span>
            </li>
        </a>
    </ul>
</div>
<div class="foot">
    <ul class="background">
        <li class="you">
            <a href="/jewel/" style="text-decoration: none;color: #0f0f0f">你们</a>
        </li>
        <a href="write" target="_top">
            <li class="release">
                <img th:src="@{user/yours/img/footimg.png}" alt="">
            </li>
        </a>
        <li class="me">
            <a href="/jewel/me_message" style="text-decoration: none;color: #74B0CC">我的</a>
        </li>
    </ul>
</div>
<ul class="contents" th:each="page:${pages}">
    <li class="women" th:if="${page.user.boy == false}">
        <div class="c-head">
            <!--<img th:src="@{user/yours/img/anonymous-head.png}">-->
            <img th:src="${page.user.imgUrl}">
            <div class="name" th:text="${page.user.name}">用户名</div>
            <div class="dot"></div>
        </div>
        <!--<div class="imgchangediv">-->
        <!--<img th:src="@{user/yours/img/img1.png}" style="display: block;"/>-->
        <!--<img th:src="@{user/yours/img/img2.png}" style="display: none;"/>-->
        <!--<img th:src="@{user/yours/img/img3.png}" style="display: none;"/>-->
        <!--<div class="imgyuan">-->
        <!--<font></font>-->
        <!--<font></font>-->
        <!--<font></font>-->
        <!--</div>-->
        <!--</div>-->
        <div class="photo" th:if="${page.imgUrl != null && page.imgUrl.size()>0 && (page.hidden == null || page.hidden == false)}">
            <!--<img/>-->
            <img th:src="'/jewel/upload/'+${page.imgUrl[0]}">
            <!--<img th:src="'/jewel/upload/'+${page.imgUrl[0]}" th:each="img:${page.imgUrl}">-->
            <!--<div class="number" th:text="'1/'+${page.imgUrl.size()}">1/9</div>-->
        </div>
        <div class="c-text">
            <a style="text-decoration: none;color: #0f0f0f" th:href="'/jewel/detail?pageId='+${page._id}" th:text="${page.text}">文字文字文字纯文字排版背景灰色字体变细匿名用户</a>
        </div>
        <div class="c-foot">
            <span th:text="${page.likes.length+'赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${page.likes.length+'赞'+'  '+'0评论'}" th:if="${page.talks == null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+'0评论'}" th:if="${page.talks == null  && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <a href=""><img th:src="@{user/yours/img/forward.png}"></a>
            <a href=""><img th:src="@{user/yours/img/comment.png}"></a>
            <!--<p th:text="${page.liked}"></p>-->
            <a href="#" onclick="" th:if="${page.liked == null || page.liked == false}"><img th:src="@{user/yours/img/like.png}"></a>
            <a href="#" onclick="" th:if="${page.liked != null && page.liked == true}"><img th:src="@{user/yours/img/s-like.png}"></a>
        </div>
    </li>


    <li class="men"  th:if="${page.user.boy == true}">
        <div class="c-head">
            <!--<img th:src="@{user/yours/img/anonymous-head.png}">-->
            <img th:src="${page.user.imgUrl}">
            <div class="name" th:text="${page.user.name}">用户名</div>
            <div class="dot"></div>
        </div>
        <div class="photo" th:if="${page.imgUrl != null && page.imgUrl.size()>0}">
            <img th:src="'/jewel/upload/'+${page.imgUrl[0]}">
            <!--<div class="number" th:text="'1/'+${page.imgUrl.size()}">1/9</div>-->
        </div>
        <div class="c-text">
            <a style="text-decoration: none;color: #0f0f0f" th:href="'/jewel/detail?pageId='+${page._id}" th:text="${page.text}">文字文字文字纯文字排版背景灰色字体变细匿名用户</a>
        </div>
        <div class="c-foot">
            <span th:text="${page.likes.length+'赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${page.likes.length+'赞'+'  '+'0评论'}" th:if="${page.talks == null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+'0评论'}" th:if="${page.talks == null  && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <!--<span>785赞&nbsp;·&nbsp;182 评论</span>-->
            <a href=""><img th:src="@{user/yours/img/forward.png}"></a>
            <a href=""><img th:src="@{user/yours/img/comment.png}"></a>
            <a href=""><img th:src="@{user/yours/img/like.png}"></a>
        </div>
    </li>

</ul>
</body>
<script>

    var page = 1;

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        // console.log("scrollTop:"+scrollTop)
        // console.log("windowHeight:"+windowHeight)
        // console.log("scrollHeight:"+scrollHeight)
        // console.log("scrollTop + windowHeight:"+(scrollTop + windowHeight))
        if (scrollTop + windowHeight >= (scrollHeight - 100)) {
            console.log("到达了底部..")
            $.ajax({
                url: '/jewel/my/getPages',
                type: 'GET', //GET
                data: {
                    'page': page
                },
                async: true,    //或false,是否异步
                timeout: 5000,    //超时时间
                dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                success: function (data, textStatus, jqXHR) {
                    // var /L= scrollTop + windowHeight
                    console.log(data)
                    console.log("当前页码:" + page)
                    add(data)
                    page = page + 1;
                    console.log("改变之后的页码:" + page)
                    // $('html, body').animate({
                    //     scrollTop: L
                    // }, 100);
                    console.log(textStatus)
                    console.log(jqXHR)
                }
            })
        }
    });

    function add(data) {
        //是不是男性
        var isBoy = data[0].user.boy;
        //是否是隐藏
        var isHidden = data[0].hidden;
        console.log(isBoy)
        console.log(isHidden)
        $.each(data, function (index, content) {
            var len = 0
            if (content.imgUrl != undefined) {
                len = content.imgUrl.length;
            }
            var likeLen = 0;
            if (content.likes != undefined) {
                likeLen = content.likes.length
            }
            if (isHidden == true) {
                console.log("是隐藏的样式")
                // var talkLen = content.
                if (len > 0) {
                    $("#mainBody").append(" <ul class=\"contents\" ><li class='anonymous'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                        "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img th:src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                        "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                        "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>"+
                        "<a href=''><img src='user/yours/img/comment.png'></a>"+
                        "<a href=''><img src='user/yours/img/like.png'></a>"+"</div>" +
                        "</li></ul>");
                } else {
                    $("#mainBody").append("<ul class=\"contents\" > <li class='anonymous'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                        "<div class='dot'></div>"
                        + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                        "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>"+
                        "<a href=''><img src='user/yours/img/comment.png'></a>"+
                        "<a href=''><img src='user/yours/img/like.png'></a>"+"</div>" +
                        "</li></ul>");
                }
            } else {
                if (isBoy == true) {
                    console.log("是男孩")
                    if (len > 0) {
                        $("#mainBody").append(" <ul class=\"contents\" ><li class='men'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img th:src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                            "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" +"<a href=''><img src='user/yours/img/forward.png'></a>"+
                            "<a href=''><img src='user/yours/img/comment.png'></a>"+
                            "<a href=''><img src='user/yours/img/like.png'></a>"+ "</div>" +
                            "</li></ul>");
                    } else {
                        $("#mainBody").append("<ul class=\"contents\" > <li class='men'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>"
                            + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>"+
                            "<a href=''><img src='user/yours/img/comment.png'></a>"+
                            "<a href=''><img src='user/yours/img/like.png'></a>"+"</div>" +
                            "</li></ul>");
                    }
                }

                if (isBoy == false) {
                    console.log(("是女孩"))
                    if (len > 0) {
                        $("#mainBody").append(" <ul class=\"contents\" ><li class='women'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img th:src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                            "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>"+
                            "<a href=''><img src='user/yours/img/comment.png'></a>"+
                            "<a href=''><img src='user/yours/img/like.png'></a>"+"</div>" +
                            "</li></ul>");
                    } else {
                        $("#mainBody").append("<ul class=\"contents\" > <li class='women'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>"
                            + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='+" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>"  + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>"+
                            "<a href=''><img src='user/yours/img/comment.png'></a>"+
                            "<a href=''><img src='user/yours/img/like.png'></a>"+"</div>" +
                            "</li></ul>");
                    }
                }
            }
        })

    }


</script>
</html>