<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no"/>
<!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!-- 忽略页面中的数字识别为电话号码,email识别 -->
<meta name="format-detection" content="telephone=no, email=no"/>
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.esm.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.esm.bundle.js"></script>
<!-- windows phone 点击无高光 -->
<head>
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/me/css/me.css}">
    <script type="text/javascript" th:src="@{/me/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/me/js/me.js}"></script>
</head>
<body>
<p th;text="${pages}"></p>
<div id="mainBody" class="top">
    <ul class="head">
        <li class="headphoto"><img th:src="${session.currentUser.imgUrl}" alt=""></li>
        <li class="username" th:text="${session.currentUser.name}">微信名</li>
    </ul>
    <ul class="nav" id="nav">
        <a href="/jewel/me">
            <li class="hearttalk-s"><!--切换css样式改图片-->
                <span style="text-decoration: none;color: #0f0f0f">心里话</span>
            </li>
        </a>
        <a href="/jewel/me_message">
            <li class="messages"><!--切换css样式改图片-->
                <span>消息</span>
            </li>
        </a>
    </ul>
</div>
<div class="foot">
    <ul class="background">
        <li class="you">
            <a href="/jewel/" style="text-decoration: none;color: #0f0f0f">你们</a>
        </li>
        <a href="write" target="_top">
            <li class="release">
                <img th:src="@{user/yours/img/footimg.png}" alt="">
            </li>
        </a>
        <li class="me">
            <a href="/jewel/me_message" style="text-decoration: none;color: #74B0CC">我的</a>
        </li>
    </ul>
</div>
<ul class="contents">

</ul>
</body>
<script>

    var page = 0;
    $(document).ready(function () {
        findPage()
    });

    function findPage() {
        $.ajax({
            url: '/jewel/my/getPages',
            type: 'GET', //GET
            data: {
                'page': page
            },
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log("当前页码:" + page)
                add(data)
                page = page + 1;
                console.log("改变之后的页码:" + page)
                console.log(textStatus)
                console.log(jqXHR)
            }
        })
    }

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight >= (scrollHeight - 100)) {
            console.log("到达了底部..")
            findPage()
        }
    });
    function liked(e) {
        // body...
        var e1 = e;
        // var islike=false;
        console.log(e1.src);
        console.log(e1.alt);
        $.ajax({
            url: '/jewel/like',
            type: 'POST',
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',
            data: {pageId: e1.alt + ''},
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                var icon = $('.c-foot img')[2];
                if (data.liked == true) {
                    e1.src = '/jewel/user/detail/img/s-like.png';
                } else {
                    e1.src = '/jewel/user/detail/img/like.png';
                }
            }
        })
    }
    function add(data) {
        //是不是男性
        var isBoy = data[0].user.boy;
        //是否是隐藏
        var isHidden = false;
        console.log(isBoy)
        console.log(isHidden)
        $.each(data, function (index, content) {
            isHidden = content.hidden
            var len = 0
            if (content.imgUrl != undefined) {
                len = content.imgUrl.length;
            }
            var likeLen = 0;
            if (content.likes != undefined) {
                likeLen = content.likes.length
            }
            if (isBoy == true) {
                console.log("是男孩")
                if (len > 0) {
                    console.log("获取到的长度"+len)
                    var images = "";

                    for (var i=0;i<len;i++)
                    {
                        images = images + "<div class='swiper-slide' ><img class='swiper-slide' src='" + "/jewel/upload/" + content.imgUrl[i] + "'/>" + "</div>";
                    }
                    var imgs = "<div class='swiper-container' style='width: 100%;height: 100%'>" +
                        "<div class='swiper-wrapper'>" + images + "</div></div>";

                    var body = " <ul class='contents' ><li class='men'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>" + content.user.name + "</div>" +
                        "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + imgs + "</div>" +
                        "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>" + likeLen + "赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href='" + "/jewel/detail?pageId=" + content.id + "'><img src='user/yours/img/comment.png'></a>";
                    if (content.userLiked == false) {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    } else {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/s-like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    }
                    $("#mainBody").append(body);
                    // <a style="text-decoration: none;color: #0f0f0f" th:href="'/jewel/detail?pageId='+${page._id}" th:text="${page.text}">文字文字文字纯文字排版背景灰色字体变细匿名用户</a>
                    var swiper = new Swiper('.swiper-container', {
                        spaceBetween: 30,
                        centeredSlides: true,
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                    });
                } else {
                    var body = "<ul class=\"contents\" > <li class='men'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>" + content.user.name + "</div>" +
                        "<div class='dot'></div>"
                        + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>" + likeLen + "赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href='" + "/jewel/detail?pageId=" + content.id + "'><img src='user/yours/img/comment.png'></a>";
                    if (content.userLiked == false) {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    } else {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/s-like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    }
                    $("#mainBody").append(body);
                }
            }

            if (isBoy == false) {
                console.log(("是女孩"))
                if (len > 0) {
                    var images = "";

                    for (var i=0;i<len;i++)
                    {
                        images = images + "<div class='swiper-slide' ><img class='swiper-slide' src='" + "/jewel/upload/" + content.imgUrl[i] + "'/>" + "</div>";
                    }
                    var imgs = "<div class='swiper-container' style='width: 100%;height: 100%'>" +
                        "<div class='swiper-wrapper'>" + images + "</div></div>";
                    var body = " <ul class=\"contents\" ><li class='women'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>" + content.user.name + "</div>" +
                        "<div class='dot'></div>" + "</div>" + " <div class='photo'>" +imgs+ "</div>" +
                        "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>" + likeLen + "赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href='" + "/jewel/detail?pageId=" + content.id + "'><img src='user/yours/img/comment.png'></a>";
                    if (content.userLiked == false) {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    } else {
                        body = body + "<a href='javascript:void(0)' ><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/s-like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    }
                    $("#mainBody").append(body);
                } else {
                    var body = "<ul class=\"contents\" > <li class='women'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>" + content.user.name + "</div>" +
                        "<div class='dot'></div>"
                        + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>" + likeLen + "赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href='" + "/jewel/detail?pageId=" + content.id + "'><img src='user/yours/img/comment.png'></a>";
                    if (content.userLiked == false) {
                        body = body + "<a href='javascript:void(0)'><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    } else {
                        body = body + "<a href='javascript:void(0)'><img onclick='liked(this)' alt='" + content.id + "' src='user/yours/img/s-like.png'></a>"
                            + "</div>" +
                            "</li></ul>"
                    }
                    $("#mainBody").append(body);
                }
            }
        })

    }

</script>
</html>