<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的</title>
    <link rel="stylesheet" th:href="@{/me/css/me.css}">
    <script type="text/javascript" th:src="@{/me/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/me/js/me.js}"></script>
</head>
<body>
<p th;text="${pages}"></p>
<div class="top">
    <ul class="head">
        <li class="headphoto"><img th:src="${session.currentUser.imgUrl}" alt=""></li>
        <li class="username" th:text="${session.currentUser.name}">微信名</li>
    </ul>
    <ul class="nav" id="nav">
        <a href="/jewel/me">
            <li class="hearttalk-s"><!--切换css样式改图片-->
                <span style="text-decoration: none;color: #0f0f0f">心里话</span>
            </li>
        </a>
        <a href="/jewel/me_message">
            <li class="messages"><!--切换css样式改图片-->
                <span>消息</span>
            </li>
        </a>
    </ul>
</div>
<div class="foot">
    <ul class="background">
        <li class="you">
            <a href="/jewel/" style="text-decoration: none;color: #0f0f0f">你们</a>
        </li>
        <a href="write" target="_top">
            <li class="release">
                <img th:src="@{user/yours/img/footimg.png}" alt="">
            </li>
        </a>
        <li class="me">
            <a href="/jewel/me_message" style="text-decoration: none;color: #74B0CC">我的</a>
        </li>
    </ul>
</div>
<ul class="contents" th:each="page:${pages}">
    <li class="women" th:if="${page.user.boy == false}">
        <div class="c-head">
            <!--<img th:src="@{user/yours/img/anonymous-head.png}">-->
            <img th:src="${page.user.imgUrl}">
            <div class="name" th:text="${page.user.name}">用户名</div>
            <div class="dot"></div>
        </div>
        <!--<div class="imgchangediv">-->
        <!--<img th:src="@{user/yours/img/img1.png}" style="display: block;"/>-->
        <!--<img th:src="@{user/yours/img/img2.png}" style="display: none;"/>-->
        <!--<img th:src="@{user/yours/img/img3.png}" style="display: none;"/>-->
        <!--<div class="imgyuan">-->
        <!--<font></font>-->
        <!--<font></font>-->
        <!--<font></font>-->
        <!--</div>-->
        <!--</div>-->
        <div class="photo" th:if="${page.imgUrl != null && (page.hidden == null || page.hidden == false)}">
            <!--<img/>-->
            <img th:src="'/jewel/upload/'+${page.imgUrl[0]}">
            <!--<img th:src="'/jewel/upload/'+${page.imgUrl[0]}" th:each="img:${page.imgUrl}">-->
            <!--<div class="number" th:text="'1/'+${page.imgUrl.size()}">1/9</div>-->
        </div>
        <div class="c-text">
            <p th:text="${page.text}">文字文字文字纯文字排版背景灰色字体变细匿名用户</p>
        </div>
        <div class="c-foot">
            <span th:text="${page.likes.length+'赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${page.likes.length+'赞'+'  '+'0评论'}" th:if="${page.talks == null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+'0评论'}" th:if="${page.talks == null  && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <a href=""><img th:src="@{user/yours/img/forward.png}"></a>
            <a href=""><img th:src="@{user/yours/img/comment.png}"></a>
            <!--<p th:text="${page.liked}"></p>-->
            <a href="#" onclick="" th:if="${page.liked == null || page.liked == false}"><img th:src="@{user/yours/img/like.png}"></a>
            <a href="#" onclick="" th:if="${page.liked != null && page.liked == true}"><img th:src="@{user/yours/img/s-like.png}"></a>
        </div>
    </li>


    <li class="men"  th:if="${page.user.boy == true}">
        <div class="c-head">
            <!--<img th:src="@{user/yours/img/anonymous-head.png}">-->
            <img th:src="${page.user.imgUrl}">
            <div class="name" th:text="${page.user.name}">用户名</div>
            <div class="dot"></div>
        </div>
        <div class="photo" th:if="${page.imgUrl != null}">
            <img th:src="'/jewel/upload/'+${page.imgUrl[0]}">
            <!--<div class="number" th:text="'1/'+${page.imgUrl.size()}">1/9</div>-->
        </div>
        <div class="c-text">
            <p th:text="${page.text}">文字文字文字纯文字排版背景灰色字体变细匿名用户</p>
        </div>
        <div class="c-foot">
            <span th:text="${page.likes.length+'赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${page.likes.length+'赞'+'  '+'0评论'}" th:if="${page.talks == null && page.likes !=null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+page.talks.size()+'评论'}" th:if="${page.talks != null && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <span th:text="${'0赞'+'  '+'0评论'}" th:if="${page.talks == null  && page.likes ==null}">785赞&nbsp;·&nbsp;182 评论</span>
            <!--<span>785赞&nbsp;·&nbsp;182 评论</span>-->
            <a href=""><img th:src="@{user/yours/img/forward.png}"></a>
            <a href=""><img th:src="@{user/yours/img/comment.png}"></a>
            <a href=""><img th:src="@{user/yours/img/like.png}"></a>
        </div>
    </li>

</ul>
</body>
</html>