<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no"/>
<!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
<meta name="apple-mobile-web-app-capable" content="yes"/>
<!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<!-- 忽略页面中的数字识别为电话号码,email识别 -->
<meta name="format-detection" content="telephone=no, email=no"/>
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<meta name="MobileOptimized" content="320">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{user/yours/css/yours.css}"/>
    <!--这里需要修改为cdn镜像.减少流量损耗-->
    <script type="text/javascript" th:src="@{user/yours/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{user/yours/js/yours.js}"></script>
    <title>你们</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.esm.bundle.js"></script>
</head>
<body id="mainBody" onload="clickhandle(1)">
<div class="head">
    <div class="imgchangediv">
        <div class="swiper-container" style="width: 100%;height: 100%">
            <div class="swiper-wrapper">

                <div class="swiper-slide" th:each="banner:${banners}"><a
                        th:href="${'/jewel/detail?pageId='+banner.pointUrl}"><img class="swiper-slide"
                                                                                  th:src="'/jewel/upload/'+${banner.imgUrl}"/></a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
    <ul class="navigation" id="nav">
        <li class="memoir">
            <img th:src="@{user/yours/img/memoir.png}"><span>回忆录</span>
        </li>
        <li class="talk">
            <a href="/jewel/"><img th:src="@{user/yours/img/talk.png}" alt=""><span>我想对你说</span></a>
        </li>
        <li class="mondaybest">
            <a href="/jewel/best"><img th:src="@{user/yours/img/mondaybest.png}"><span>周一最佳</span></a>
        </li>
    </ul>
</div>
<div class="foot">
    <ul class="background">
        <li class="you">
            <a href="/jewel/" style="text-decoration: none;color: #74B0CC">你们</a>
        </li>
        <a href="write" target="_top">
            <li class="release">
                <img th:src="@{user/yours/img/footimg.png}" alt="">
            </li>
        </a>
        <li class="me">
            <a href="/jewel/me_message" style="text-decoration: none;color: #0f0f0f">我的</a>
        </li>
    </ul>
</div>
<ul class="contents">
</ul>
</body>
<style>
    .swiper-pagination-bullet {
        background: #6f6f6f;
    }

    .swiper-pagination-bullet-active {
        background: #2f2f2f;
    }
</style>

<script>
    var swiper = new Swiper('.swiper-container', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    var page = 1;

    $(document).ready(function () {
        findPage()
    });

    function findPage() {
        $.ajax({
            url: '/jewel/page/memoirs',
            type: 'GET', //GET
            data: {
                currentPage: page
            },
            async: true,    //或false,是否异步
            timeout: 5000,    //超时时间
            dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log("当前页码:" + page)
                add(data)
                page = page + 1;
                console.log("改变之后的页码:" + page)
                console.log(textStatus)
                console.log(jqXHR)
            }
        })
    }

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight >= (scrollHeight - 100)) {
            console.log("到达了底部..")
            findPage()
        }
    });

    function add(data) {
        //是不是男性
        var isBoy = data[0].user.boy;
        //是否是隐藏
        var isHidden = data[0].hidden;
        console.log(isBoy)
        console.log(isHidden)
        $.each(data, function (index, content) {
            var len = 0
            if (content.imgUrl != undefined) {
                len = content.imgUrl.length;
            }
            var likeLen = 0;
            if (content.likes != undefined) {
                likeLen = content.likes.length
            }
            if (isHidden == true) {
                console.log("是隐藏的样式")
                // var talkLen = content.
                if (len > 0) {
                    $("#mainBody").append(" <ul class=\"contents\" ><li class='anonymous'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                        "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                        "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href=''><img src='user/yours/img/comment.png'></a>" +
                        "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                        "</li></ul>");
                } else {
                    $("#mainBody").append("<ul class=\"contents\" > <li class='anonymous'>" +
                        "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                        "<div class='dot'></div>"
                        + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                        "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                        "<a href=''><img src='user/yours/img/comment.png'></a>" +
                        "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                        "</li></ul>");
                }
            } else {
                if (isBoy == true) {
                    console.log("是男孩")
                    if (len > 0) {
                        $("#mainBody").append(" <ul class=\"contents\" ><li class='men'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                            "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                            "<a href=''><img src='user/yours/img/comment.png'></a>" +
                            "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                            "</li></ul>");
                    } else {
                        $("#mainBody").append("<ul class=\"contents\" > <li class='men'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>"
                            + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                            "<a href=''><img src='user/yours/img/comment.png'></a>" +
                            "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                            "</li></ul>");
                    }
                }

                if (isBoy == false) {
                    console.log(("是女孩"))
                    if (len > 0) {
                        $("#mainBody").append(" <ul class=\"contents\" ><li class='women'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>" + "</div>" + " <div class='photo'>" + " <img src='" + "/jewel/upload/" + content.imgUrl[0] + "'>" + "</div>" +
                            "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                            "<a href=''><img src='user/yours/img/comment.png'></a>" +
                            "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                            "</li></ul>");
                    } else {
                        $("#mainBody").append("<ul class=\"contents\" > <li class='women'>" +
                            "<div class='c-head'>" + "<img src='" + content.user.imgUrl + "'>" + "<div class='name'>匿名</div>" +
                            "<div class='dot'></div>"
                            + "</div>" + "<div class='c-text'>" + "<a style=\"text-decoration: none;color: #0f0f0f\" href='" + "/jewel/detail?pageId=" + content.id + "'> " + content.text + "</a>" + "</div>" +
                            "<div class='c-foot'>" + " <span>785赞&nbsp;·&nbsp;182 评论</span>" + "<a href=''><img src='user/yours/img/forward.png'></a>" +
                            "<a href=''><img src='user/yours/img/comment.png'></a>" +
                            "<a href=''><img src='user/yours/img/like.png'></a>" + "</div>" +
                            "</li></ul>");
                    }
                }
            }
        })

    }

</script>
</html>