<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
<meta name="MobileOptimized" content="320">
<meta name="screen-orientation" content="portrait">
<meta name="x5-orientation" content="portrait">
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">
<meta name="browsermode" content="application">
<meta name="x5-page-mode" content="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>出现错误!</title>
    <link th:href="@{/error/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/error/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Nova+Flat' rel='stylesheet' type='text/css'>
    <link th:href="@{/error/css/style.css}" rel="stylesheet"/>
</head>
<body>


<div class="container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">

            <h3><i class="fa fa-lightbulb-o fa-5x"></i></h3>
            <a th:if="${errorMessage!=null}"  href="javascript:void(0)" onclick="goback()" class="btn btn-primary">返回前页</a>
            <a th:if="${errorMessage==null}" href="/jewel/" class="btn btn-primary">回到主页</a>
        </div>
        <div class="row pad-top text-center">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1> 出现了一个异常! </h1>
                <span id="error-link"></span>
                <h2 th:if="${errorMessage!=null}" th:text="${errorMessage}">! 可能是由于以下的原因 !</h2>
                <h2 th:if="${errorMessage==null}">! 可能是由于以下的原因 !</h2>
                <h3 th:if="${errorMessage==null}">文章已经被删除!</h3>
                <h3 th:if="${errorMessage==null}">发文章和评论速度过快!</h3>
                <h3 th:if="${errorMessage==null}">程序出现了错误!</h3>
            </div>
        </div>


    </div>

</div>
<!-- /.container -->


<!--Core JavaScript file  -->
<script th:src="@{/error/js/jquery-1.10.2.js}"></script>
<!--bootstrap JavaScript file  -->
<script th:src="@{/error/js/bootstrap.js}"></script>
<!--Count Number JavaScript file  -->
<script th:src="@{/error/js/countUp.js}"></script>
<!--Custom JavaScript file  -->
<script th:src="@{/error/js/custom.js}"></script>
<script>
    function goback() {
        var host = "http://" + document.domain + "/jewel/";
        document.referrer === '' ? window.location.href = host : window.history.go(-1);
    }
</script>
</body>
</html>
